/* Global Reset */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-image: linear-gradient(#3446FF, #E1E4E1);
  background-repeat: no-repeat;
  background-attachment:fixed;

}

.contact-form-section {
  width: 1280px;
  margin: 100px 300px 100px 0px;
  display: flex;
  height: 800px;
  border: 12px solid red;
  border-left: none;
  border-radius: 0px 42px 42px 0px;
}

form {
  width: 1000px;
  background-color: #FFF;
  border-radius: 0px 30px 30px 0px;
}
.contact-form-section .buidling-image {
  max-width: 440px;
}

.contact-form-section .logo {
  width: 90px;
} 

.avatar{
  width: 20px;
}