/* Global Reset */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #F5F8FF;
}


/* message section with box shadow effect and position properties starts here */

.main-container{
  margin-right: 50px;
}

.shadow-background{
  max-width: 421px;
  height: 550px;
  background: linear-gradient(45deg, #40DED2, #3CDA9F);
  margin: 100px auto;
  position: relative;
  border-radius: 30px;
}

.flex-container-message{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
  min-width: 421px;
  max-width: 600px;
  justify-content: space-around;
  padding: 50px;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: -4px 15px 60px rgba(63, 222, 211, 0.9);
  position: absolute;
  left: 50px;
  top: 61px;
}

.flex-container-message h1{
  color: #1F2554;
  font-size: 21px;
}

.child-item:nth-child(2) button{
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #1F2554;
  border-radius: 5px;
  color: #F2F3F5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  gap: 10px;
}

.child-item{
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-basis: 90%;
  height: 30px;
  padding: 10px 5px;
  margin: 5px;
  border-radius: 10px;
  font-size: 13px;
}

.message-overview h3{
  font-size: 14px;
}

.message-overview{
  display: flex;
  flex-basis: auto;
}

.orange, .green, .grey {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 49px;
  top: 18px;
  border-radius: 50%;
}

.orange {
  background-color: #DE783F;
  box-shadow: 0 0 0 2px #FFFFFF;
}

.green {
  background-color: #3FDEA5; 
  box-shadow: 0 0 0 2px #FFFFFF;
}
.grey {
  background-color: #D1D1D1; 
  box-shadow: 0 0 0 2px #FFFFFF;
}

.child-item.compose > button{
  font-size: 14px;
  cursor: pointer;
}

.child-item.unread{
  background-color: #F5F8FF;
}

.child-item .time{
  width: 23%;
  margin-top: 6px;
  color: #8286A2;
  font-weight: bold;
}

.child-item .time p{
  font-size: 11px;
  margin-top: 10px;
}

.child-item .message-overview{
  width: 57%;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.child-item .display-picture {
  width: 15%;
}
.child-item .display-picture img {
  width: 12%;
  min-width: 60px;
  margin-top: 6px;
}

.message-overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
  margin-right: 6px;
}

.child-item:nth-child(2) svg {
  vertical-align: center;
}

@media screen and (max-width: 600px) {
  .main-container{
    margin-right: 50px;
  }
  .shadow-background {
    width: 380px;
    height: 476px;
    position: relative;
  }
  .flex-container-message {
    min-width: 380px;
    background-color: #FFFFFF;
    margin: 30px auto;
    position: absolute;
    top: 25px;
  }
  .flex-container-message {
    padding: 32px;
  }
  .flex-container-message h1 {
    font-size: 18px;
  }
  .child-item.compose > button {
    font-size: 14px;
  }
  .child-item:nth-child(2) button{
    padding: 15px 20px;
  }
  .message-overview h3 {
    font-size: 14px;
  }
  .message-overview p {
  font-size: 13px;
  }
  .child-item {
    padding: 10px;
  }
  .child-item .time p {
    margin-top: 4px;
    font-size: 10px;
  }
  .child-item img{
    width: 12%;
    min-width: 50px;
    margin-top: 6px;
  }

  .orange, .green, .grey {
    width: 12px;
    height: 12px;
    left: 55px;
    top: 18px;
    box-shadow: 0 0 0 2px #FFFFFF;
  }

}

/* message section with box shadow effect and position properties ends here */


